.header {
  display: flex;
  flex-direction: row;
  height: 7rem;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-color);
}

.header img {
  height: 6rem;
  margin-left: 7rem;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  margin-left: 1rem;
}

.nav-item {
  color: var(--secondary-color);
  font-family: "Markazi", sans-serif;
  font-size: 12pt;
  padding: 0.65rem;
  border: 3px solid var(--secondary-color);
  border-radius: 50px;
  background: linear-gradient(to right, var(--primary-color) 50%, white 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all 0.7s ease-in-out;
}
a {
  text-decoration: none;
}
.nav-item:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  background-position: bottom left;
}

@media (max-width: 1200px) {
  .header {
    height: 6rem;
  }

  .header img {
    height: 5rem;
    margin-left: 5rem;
  }

  .nav-item {
    font-size: 10pt;
    padding: 0.5rem;
  }

  ul {
    justify-content: center;
  }

  li {
    margin-left: 0.75rem;
  }
}

@media (max-width: 992px) {
  .header {
    height: 5rem;
  }

  .header img {
    height: 4rem;
    margin-left: 3rem;
  }

  .nav-item {
    font-size: 9pt;
    padding: 0.5rem;
  }

  ul {
    justify-content: center;
  }

  li {
    margin-left: 0.25em;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 1rem;
    height: 5rem;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .header img {
    height: 3rem;
    margin-left: 2rem;
  }

  .nav-item {
    font-size: 10pt;
    padding: 0.4rem;
  }

  ul {
    justify-content: center;
  }

  li {
    margin-left: 0.25rem;
  }
}

@media (max-width: 576px) {
  .header {
    padding-top: 1rem;
    height: 5rem;
    flex-direction: column;
  }

  .header img {
    height: 2rem;
    margin-left: 1rem;
  }

  .nav-item {
    font-size: 7.5pt;
    padding: 0.3rem;
  }

  ul {
    justify-content: center;
  }

  li {
    margin-left: 0.5rem;
  }
}
