.hero {
  height: 20rem;
  background-color: var(--secondary-color);
}

.hero-container {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.hero-content {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  margin-left: 12rem;
}

.hero-title {
  font-family: "Markazi Text", serif;
  font-size: 50pt;
  margin: 0;
  color: var(--primary-color);
}

.hero-location {
  font-family: "Markazi Text", serif;
  font-size: 30pt;
  margin: 0;
  color: white;
}

.hero-desc {
  font-family: "Karla", sans-serif;
  font-size: 14pt;
  color: white;
}

.reserve-btn {
  font-size: 10pt;
  width: 10rem;
  padding: 0.75rem;
  border: 3px solid;
  color: var(--primary-color);
  font-weight: bolder;
  border-radius: 25px;
  background: linear-gradient(to right, var(--primary-color) 50%, #ffff 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all 0.7s ease-out;
}

.reserve-btn:hover {
  background-position: bottom left;
  border: 3px solid #caa905;
}

.img-container {
  margin-left: 10rem;
  margin-top: 2.5rem;
}

.hero-img {
  height: 25rem;
  width: 25rem;
  border-radius: 5%;
}
